

::-webkit-scrollbar{
	width: .5em;
	background: #1F1B24;
}
::-webkit-scrollbar-track{
	border-radius: 100vw;
	margin-block: .5em;
}
::-webkit-scrollbar-thumb{
	background: #00E090;
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
	background: #3E8ED0;
}
::-webkit-scrollbar-thumb:active{
  	background: #7A9AB9;
}

body {
	background: #1F1B24;
	font-size: 80%;
}

.container {
	display: grid;
	grid-template-columns: 1.5fr 0.5fr;
	grid-template-rows: 0.5fr 4.5fr;
	gap: 5px 5px;
	grid-auto-flow: row;
	left: -10%;
	position:relative;
	width:80%;
	margin: auto;
}
.Top { grid-area: 1 / 1 / 2 / 3; }
.Middle { grid-area: 2 / 1 / 3 / 2; }
.Right { grid-area: 2 / 2 / 3 / 3; }
.Top-right { grid-area: 1 / 2 / 2 / 3; }
.Bottom-right { grid-area: 3 / 2 / 4 / 3; }
.Bottom { grid-area: 3 / 1 / 4 / 2; }

#json_table, #table_div {
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.clearButton {
	position:absolute;
	bottom: 3%;
	right: -18%;
}
