@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	background: url(../images/nstrat.png) no-repeat center center fixed;
	background-size: cover;
}

button {
	width: 40%;
	height: 70px;
	transform: translate(22%, 0);
	position: relative;
	padding-bottom: 3%;
	margin: 5px auto;
	border: 3px solid rgba(255, 255, 255, .7);
	background-color: transparent;
	color: white;
	font-size: min(max(0px, 3.5vw), 250%);
	overflow: hidden;
	font-family: joystixmonospace;
	-webkit-border-radius:5px;
	box-shadow:0 1px 2px #5e5d5b;
	text-align: center;
	line-height: 150%;
}
button:hover {
	border: 2px solid white;
}
.redirect-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.redirect-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.redirect-button:hover span {
  padding-right: 25px;
}
.redirect-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*NEONS*/

#neon {
  color: #fff;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow:
    inset 0 0 3px whitesmoke,
    inset 5px 0 20px red,
    inset -5px 0 20px #fff,
    inset 5px 0 15px red,
    inset -5px 0 15px #fff,
    0 0 15px #fff,
    -2px 0 10px red,
    3px 0 10px #fff;
}
#neon:hover {
  color: #fff;
  text-shadow: 0 0 8px red;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px red, 0 0 20px red, 0 0 30px red, 0 0 35px red, 0 0 40px red;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 8px red, 0 0 10px red, 0 0 25px red, 0 0 15px red, 0 0 20px red;
  }
}
