@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	background: url(../images/nstrat.png) no-repeat center center fixed;
	background-size: cover
}
a:visited {
	text-decoration: none;
	decoration: none;
}
button {
	width: 20%;
	height: 70px;
	margin: 5px;
	border: solid white 2px;
	border-radius: 5px;
	background-color: transparent;
	color: white;
	font-size: 40px;
	overflow: hidden;
	font-family: joystixmonospace
}
button:selection {
	color: black;
	background-color: darkred
}
button:hover {
	color: black;
	border: solid black 2px
}
p.mant {
	text-align: center;
	font-family: joystixmonospace;
	font-size: 75px;
	border: solid white 2px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
@media (max-width: 1650px) {
	button {
		font-size: 30px
	}
}
@media (max-width: 1200px) {
	button {
		font-size: 25px
	}
}
@media (max-width: 1000px) {
	button {
		font-size: 15px
	}
}
@media (max-width: 600px) {
	button {
		font-size: 10px
	}
}
#bt1 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 50px;
